* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-section {
    margin: 50px auto;
    width: 500px;
    height: 50px;
    display: flex;
    background-color: darkgray;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(121, 121, 121, 0.05), 0 15px 40px rgba(149, 149, 149, 0.2);
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border: none;
    outline: none;
    align-items: center;
}

#text {
    background-color: rgb(240, 240, 240);
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 12px;
    width: 330px;
}

.btn {
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 8px;
    margin-left: 5px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.add {
    background-color: green;
}

.remove {
    background-color: red;
}

#content {
    margin: 10px auto;
    width: 500px;
    padding: 10px 40px;
    display: flex;
    background-color: rgb(205, 205, 205);
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(121, 121, 121, 0.05), 0 15px 40px rgba(149, 149, 149, 0.2);
}

#content p {
    background-color: rgb(240, 240, 240);
    margin: 3px 0;
    border-radius: 10px;
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 12px;
    color: dimgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content p:hover {
    background-color: rgb(203, 210, 96);
}

#content p i {
    border: none;
    background-color: aqua;
    padding: 8px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    color: #333;
}

#content p i:hover {
    background-color: rgb(18, 218, 218);
}

